/* CSS Styles */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.btn-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  font-variation-settings:
    "wdth" 100;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.orange-text{
    color: orange;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-primary{
    background-color: orange;
    font-weight: 700;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 6px;
    border: none;
}

.btn-alt{
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    color: orange;
    padding: 18px 35px;
    border-radius: 6px;
    border-color: orange;
    border-width: 1px;
}

.banner{
    display: flex;
    justify-content: space-between;

}

